<form name="veiculoMultaForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="bootbox-body">
            <ul class="list-unstyled">
                <li class="list-group-item">
                    <div class="row form-horizontal">
                        <input type="hidden" name="idVeiculoMulta" ng-model="veiculoMulta.idVeiculoMulta"/>                        
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                            <label class="small">Veículo</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-car"></i></span>
                                <select class="form-control" name="veiculo" 
                                        ng-options="veiculo.descricao for veiculo in veiculos track by veiculo.idVeiculo" ng-model="veiculoMulta.veiculo"></select>
                            </div>
                        </div>                           
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <label class="small">Descontada</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <select class="form-control" name="descontada" ng-model="veiculoMulta.descontada"
                                        ng-options="item.value as item.label for item in [{ label: 'Não', value: false }, { label: 'Sim', value: true }]">
                                </select>
                            </div>
                        </div>      
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                            <label class="small">Condutor</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <input class="form-control text-capitalize" type="text" name="condutor"  ng-model="veiculoMulta.condutor" 
                                       placeholder="Condutor do veículo" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <label class="small">Número</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <input type="text" autocomplete="off" name="numero" class="form-control" ng-model="veiculoMulta.numero" 
                                       ui-number-mask="0" placeholder="Número da multa"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="small">Valor</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-usd"></i></span>
                                <input type="text" autocomplete="off" name="valor" class="form-control" ng-model="veiculoMulta.valor"
                                       ui-number-mask="2" ng-required="true" placeholder="Valor da multa"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="small">Data</label>
                            <div class="input-group">
                                <input type="text" autocomplete="off" name="data" class="form-control" ng-model="veiculoMulta.data" 
                                       datepicker-popup="{{datepicker.format}}" is-open="datepicker.opened" ng-required="true"
                                       current-text="{{datepicker.today}}" clear-text="{{datepicker.clear}}" close-text="{{datepicker.close}}"
                                       placeholder="Data da multa"/>
                                <span class="input-group-addon" ng-click="datepicker.open($event)"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <label class="small">CEP</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <input class="form-control" type="text" name="cep" ng-model="cep" ui-br-cep-mask placeholder="Pesquisar por CEP" />                                
                                <span class="input-group-addon icon-search" title="Pesquisar CEP" ng-click="pesquisarCep(cep)"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                            <label class="small">Local</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <input class="form-control" type="text" name="local" ng-model="veiculoMulta.local" 
                                       placeholder="Local da multa (endereço)" />  
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="small">Descrição</label>
                            <textarea class="form-control" rows="3" name="descricao" placeholder="Descrição da multa" ng-model="veiculoMulta.descricao"></textarea>       
                        </div>
                    </div>
                </li>
            </ul>     
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-lg fa-times fa-spc"></i> CANCELAR
        </button>
        <button type="button" class="btn btn-success" ng-click="ok(this.veiculoMultaForm)">
            <i class="fa fa-lg fa-save fa-spc"></i> SALVAR
        </button>
    </div>
</form>    

  