<div id="page-content-wrapper">
    <div class="container-fluid">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                            <div class="row">
                                <div class="col-md-8">Lista com todos os abastecimentos</div>
                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-primary pull-right" ng-click="salvar()">
                                        <i class="fa fa-lg fa-plus fa-spc"></i> ADICIONAR 
                                    </button>
                                </div>
                            </div>                              
                        </div>
                        <div class="panel-body">
                            <div class="dataTable_wrapper no-padding">
                                <table datatable="ng" dt-instance="instance" class="table table-striped table-bordered table-hover table-condensed" dt-options="dtOptions">
                                    <thead>
                                        <tr>
                                            <th>Placa</th>
                                            <th>Data</th>
                                            <th>Km</th>
                                            <th>Quantidade</th>
                                            <th>Valor Unitário</th>
                                            <th>Valor Total</th>
                                            <th class="no-sort text-center" width="100">Alterar</th>
                                            <th class="no-sort text-center" width="100">Excluir</th>
                                            <th class="no-sort text-center" width="100">Detalhes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="combustivel in veiculosCombustivelLista track by combustivel.idVeiculoCombustivel">
                                            <td>{{combustivel.placa | placa}}</td>
                                            <td>{{combustivel.data | date : 'dd/MM/yyyy'}}</td>
                                            <td>{{combustivel.quilometragem | number}}</td>
                                            <td>{{combustivel.quantidade | number}}</td>
                                            <td>{{combustivel.valorUnitario | currency}}</td>
                                            <td>{{combustivel.valorTotal | currency}}</td>
                                            <td align="center">
                                                <button class="btn btn-sm btn-warning" ng-click="editar(combustivel.idVeiculoCombustivel)">
                                                    <i class="fa fa-lg fa-pencil"></i>
                                                </button>
                                            </td>
                                            <td align="center">
                                                <a class="btn btn-sm btn-danger" ng-click="excluir(combustivel.idVeiculoCombustivel)">
                                                    <i class="fa fa-lg fa-trash"></i>
                                                </a>
                                            </td>
                                            <td align="center">
                                                <a class="btn btn-sm btn-primary" ng-click="visualizar(combustivel.idVeiculoCombustivel)">
                                                    <i class="fa fa-lg fa-info"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>