<div id="page-content-wrapper">
    <div class="container-fluid">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                            <div class="row">
                                <div class="col-md-8">Lista com todos os veículos</div>
                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-primary pull-right" ng-click="salvar()">
                                        <i class="fa fa-lg fa-plus fa-spc"></i> ADICIONAR 
                                    </button>
                                </div>
                            </div>                              
                        </div>
                        <div class="panel-body">
                            <div class="dataTable_wrapper no-padding">
                                <table datatable="ng" dt-instance="instance" class="table table-striped table-bordered table-hover table-condensed" dt-options="dtOptions">
                                    <thead>
                                        <tr>
                                            <th>Marca / Modelo</th>
                                            <th>Placa</th>
                                            <th>Fab. / Mod.</th>
                                            <th>Renavam</th>
                                            <th>Km</th>
                                            <th>Situação</th>
                                            <th class="no-sort" width="100">Alterar</th>
                                            <th class="no-sort" width="100">Excluir</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="veiculo in veiculos track by veiculo.id">
                                            <td>{{veiculo.marca}} / {{veiculo.modelo}}</td>
                                            <td>{{veiculo.placa | Placa}}</td>
                                            <td>{{veiculo.anoFabricacao}} / {{veiculo.anoModelo}}</td>
                                            <td>{{veiculo.renavam | Renavam}}</td>
                                            <td>{{veiculo.quilometragem | number}}</td>
                                            <td>{{veiculo.situacao}}</td>
                                            <td align="center">
                                                <button class="btn btn-sm btn-warning" ng-click="editar(veiculo.id)">
                                                    <i class="fa fa-lg fa-pencil"></i>
                                                </button>
                                            </td>
                                            <td align="center">
                                                <a class="btn btn-sm btn-danger" ng-click="excluir(veiculo.id)">
                                                    <i class="fa fa-lg fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>