<div id="page-content-wrapper">
    <div class="container-fluid">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                            <div class="row">
                                <div class="col-md-6">{{title}}</div>
                                <div class="col-md-6">
                                    <div class="pull-right">  
                                        <button class="btn btn-sm btn-primary spc-right" ng-click="salvar(conta, tipos[0])">
                                            <i class="fa fa-lg fa-plus-circle fa-spc"></i> RECEITA
                                        </button>     
                                        <button class="btn btn-sm btn-danger spc-right" ng-click="salvar(conta, tipos[1])">
                                            <i class="fa fa-lg fa-minus-circle fa-spc"></i> DESPESA
                                        </button>   
<!--                                        <button class="btn btn-sm btn-success" ng-click="transferir(conta)">
                                            <i class="fa fa-lg fa-exchange fa-spc"></i> TRANSFERÊNCIA
                                        </button>     -->
                                    </div>
                                </div>
                            </div>                              
                        </div>
                        <div class="panel-body">
                            <div class="dataTable_wrapper no-padding">
                                 <app-table lista="lancamentoProgramadosLista" 
                                            colunas="colunas" 
                                            linha="linha" 
                                            filter="filter" 
                                            search="lancSearch" 
                                            default-filter="true" 
                                            order-by-column="data">
                                    
                                    <filter-content>
                                        <div class="form-inline pull-left">
                                            
                                            <div class="form-group">
                                                
                                                <label>Conta:</label>
                                                <select class="form-control spc-right" ng-model="lancSearch.conta">    
                                                    <option value=""> Todos </option> 
                                                    <option value="{{conta}}" ng-repeat="conta in contas track by conta.idConta"> {{conta.nome}} </option>    
                                                </select>
                                                
                                                <label>Tipo:</label>
                                                <select class="form-control spc-right" ng-model="lancSearch.tipo">
                                                    <option value=""> Todos </option> 
                                                    <option value="{{tipo}}" ng-repeat="tipo in tipos track by $index"> {{tipo.descricao}} </option>        
                                                </select>
                                                
                                                <label>Data:</label>
                                                <div class="input-group spc-right">
                                                    <input type="text" autocomplete="off" class="form-control" ng-model="lancSearch.dataInicio" style="width: 120px;"
                                                        datepicker-popup="{{datepickerDataInicio.format}}" is-open="datepickerDataInicio.opened" ng-required="true"
                                                        current-text="{{datepickerDataInicio.today}}" clear-text="{{datepickerDataInicio.clear}}" close-text="{{datepickerDataInicio.close}}"
                                                        placeholder="Data início" ng-model-options='{ debounce: 1000 }'/>
                                                    <span class="input-group-addon" ng-click="datepickerDataInicio.open($event)"><i class="fa fa-calendar"></i></span>
                                                    <span class="input-group-addon">-</span>
                                                    <input type="text" autocomplete="off" class="form-control" ng-model="lancSearch.dataFim" style="width: 120px;"
                                                           datepicker-popup="{{datepickerDataFim.format}}" is-open="datepickerDataFim.opened" ng-required="true"
                                                           current-text="{{datepickerDataFim.today}}" clear-text="{{datepickerDataFim.clear}}" close-text="{{datepickerDataFim.close}}"
                                                           placeholder="Data final" ng-model-options='{ debounce: 1000 }'/>
                                                    <span class="input-group-addon" ng-click="datepickerDataFim.open($event)"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                
                                            </div>                                            
                                            
                                        </div>
                                    </filter-content>                                    
                                    
                                </app-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>