<form name="lancamentoProgramadoForm" novalidate>
    <div class="modal-header" ng-class="{'bg-modal-primary': lancamentoProgramado.tipo.codigo === 'receita', 
                                         'bg-modal-danger': lancamentoProgramado.tipo.codigo === 'despesa'}">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Visualizar Laçamento Programado</h4>
    </div>
    <div class="modal-body">
        <div class="bootbox-body">
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Conta:</label>
                </div>
                <div class="col-md-8">{{lancamentoProgramado.conta.nome}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Plano de Conta</label>
                </div>
                <div class="col-md-8">{{lancamentoProgramado.planoConta.nome}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Tipo:</label>
                </div>
                <div class="col-md-8">{{lancamentoProgramado.tipo.descricao}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Favorecido:</label>
                </div>
                <div class="col-md-8">{{(lancamentoProgramado.favorecido)}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Número:</label>
                </div>
                <div class="col-md-8">{{(lancamentoProgramado.numero)}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Documento:</label>
                </div>
                <div class="col-md-8">{{(lancamentoProgramado.documento.descricao)}}</div>
            </div>            
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Forma Pagamento:</label>
                </div>
                <div class="col-md-8">{{(lancamentoProgramado.formaPagamento.descricao)}}</div>
            </div>            
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Frequência:</label>
                </div>
                <div class="col-md-8">{{(lancamentoProgramado.frequencia.descricao)}}</div>
            </div>    
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Núm. Parcelas:</label>
                </div>
                <div class="col-md-8">{{(lancamentoProgramado.numeroParcela)}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Competência:</label>
                </div>
                <div class="col-md-8">{{lancamentoProgramado.competencia | date: 'MM/yyyy'}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Data Emissão:</label>
                </div>
                <div class="col-md-8">{{lancamentoProgramado.dataEmissao | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Data Vencimento:</label>
                </div>
                <div class="col-md-8">{{lancamentoProgramado.dataVencimento | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Valor:</label>
                </div>
                <div class="col-md-8">{{lancamentoProgramado.valor | currency: 'R$ '}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Situação:</label>
                </div>
                <div class="col-md-8">{{lancamentoProgramado.situacao.descricao}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Histórico:</label>
                </div>
                <div class="col-md-8">{{(lancamentoProgramado.historico)}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="editar()">
            <i class="fa fa-lg fa-pencil fa-spc"></i> EDITAR
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-lg fa-times fa-spc"></i> CANCELAR
        </button>
    </div>
</form>    

  