<!--<div ng-controller="ModalLancamentoProgramadoEditarController">
    <div ng-include="'partials/financeiro/lancamentoProgramado/modalLancamentoProgramadoEditar.html'"   ng-if="stepTo === 'editar'"></div>
    <div ng-include="'partials/financeiro/lancamentoProgramado/modalLancamentoProgramadoRatear.html'"   ng-if="stepTo === 'ratear'"   ng-controller="ModalLancamentoProgramadoRatearController"></div>
    <div ng-include="'partials/financeiro/lancamentoProgramado/modalLancamentoProgramadoParcelar.html'" ng-if="stepTo === 'parcelar'" ng-controller="ModalLancamentoProgramadoParcelarController"></div>
    <div ng-controller="ModalLancamentoProgramadoGerarController" ng-if="stepTo === 'lancar' || stepTo === 'lancarRatear'">
        <div ng-include="'partials/financeiro/lancamentoProgramado/modalLancamentoProgramadoGerar.html'"       ng-if="stepTo === 'lancar'"></div>
        <div ng-include="'partials/financeiro/lancamentoProgramado/modalLancamentoProgramadoGerarRatear.html'" ng-if="stepTo === 'lancarRatear'" ng-controller="ModalLancamentoProgramadoGerarRatearController"></div>
    </div>    
</div>-->
<div ng-controller="ModalLancamentoProgramadoEditarController">
    <div ng-include="'partials/financeiro/lancamentoProgramado/modalLancamentoProgramadoEditar.html'" ng-if="stepTo === 'editar'"></div>
    <div ng-include="'partials/financeiro/lancamentoProgramado/modalLancamentoProgramadoGerar.html'"  ng-if="stepTo === 'lancar'" ng-controller="ModalLancamentoProgramadoGerarController"></div>
<!--    <div ng-include="'partials/financeiro/lancamentoProgramado/modalLancamentoProgramadoParcelar.html'" ng-if="stepTo === 'parcelar' || stepTo === 'parcelarRatear'" ng-controller="ModalLancamentoProgramadoParcelarController"></div>
    <div ng-include="'partials/financeiro/lancamentoProgramado/modalLancamentoProgramadoGerar.html'"    ng-if="stepTo === 'lancar'   || stepTo === 'lancarRatear'"   ng-controller="ModalLancamentoProgramadoGerarController"></div>-->
</div>

