<form name="lancamentoProgramadoForm" novalidate>
    <div class="modal-header" ng-class="{'bg-modal-primary': lancamentoProgramado.tipo.codigo === 'receita', 
                                         'bg-modal-danger': lancamentoProgramado.tipo.codigo === 'despesa'}">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="bootbox-body">
            <ul class="list-unstyled">
                <li class="list-group-item">
                    <div class="row form-horizontal">
                        <input type="hidden" name="idLancamentoProgramado" ng-model="lancamentoProgramado.idLancamentoProgramado"/>  
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 divider-vertical-right"> 
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="small">Tipo</label>
                                <div class="input-group">
                                    <span class="input-group-addon" ><i class="fa fa-info"></i></span>
                                    <select class="form-control" name="tipo" ng-change="changeTipo(lancamentoProgramado.tipo)"
                                            ng-options="tipo.descricao for tipo in tipos track by tipo.id" ng-model="lancamentoProgramado.tipo"></select>
                                </div>
                            </div>  
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="small">Situação</label>
                                <div class="input-group">
                                    <span class="input-group-addon" ><i class="fa fa-info"></i></span>
                                    <select class="form-control" name="situacao"
                                            ng-options="situacao.descricao for situacao in situacoes track by situacao.id" ng-model="lancamentoProgramado.situacao"></select>
                                </div>
                            </div> 
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <label class="small">Conta</label>
                                <div class="input-group">
                                    <span class="input-group-addon" ><i class="fa fa-info"></i></span>
                                    <select class="form-control" name="conta" 
                                            ng-options="conta.nome for conta in contas track by conta.idConta" ng-model="lancamentoProgramado.conta"></select>
                                </div>
                            </div> 
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <label class="small">Plano de Conta</label>
                                <div class="input-group">
                                    <span class="input-group-addon" ><i class="fa fa-info"></i></span>
                                    <select class="form-control" name="planoConta" 
                                            ng-options="planoConta.nome for planoConta in planoContas track by planoConta.idPlanoConta" ng-model="lancamentoProgramado.planoConta"></select>
                                </div>
                            </div> 
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="small">Documento</label>
                                <div class="input-group">
                                    <span class="input-group-addon" ><i class="fa fa-info"></i></span>
                                    <select class="form-control" name="documento"
                                            ng-options="documento.descricao for documento in documentos track by documento.idTipoDocumento" ng-model="lancamentoProgramado.documento"></select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="small">Forma Pagamento</label>
                                <div class="input-group">
                                    <span class="input-group-addon" ><i class="fa fa-info"></i></span>
                                    <select class="form-control" name="formaPagamento"
                                            ng-options="formaPagamento.descricao for formaPagamento in formaPagamentos track by formaPagamento.idTipoFormaPagamento" ng-model="lancamentoProgramado.formaPagamento"></select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <label class="small">Favorecido</label>
                                <div class="input-group">
                                    <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                    <input class="form-control" type="text" name="favorecido" ng-model="lancamentoProgramado.favorecido" 
                                           placeholder="Favorecido do lançamento"/>  
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <label class="small">Histórico</label>
                                <div class="input-group">
                                    <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                    <input class="form-control" type="text" name="historico" ng-model="lancamentoProgramado.historico" 
                                           placeholder="Histórico do lançamento"  ng-required="true"/>  
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <label class="small">Frequência</label>
                                <div class="input-group">
                                    <span class="input-group-addon" ><i class="fa fa-info"></i></span>
                                    <select class="form-control" name="frequencia"
                                            ng-options="frequencia.descricao for frequencia in frequencias track by frequencia.id" ng-model="lancamentoProgramado.frequencia"></select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <label class="small">Número</label>
                                <div class="input-group">
                                    <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                    <input class="form-control" type="text" name="numero" ng-model="lancamentoProgramado.numero" 
                                           placeholder="Número"/>  
                                    <span class="input-group-addon">-</span>
                                    <input class="form-control text-right" type="text" name="numeroParcela" size="3" ng-model="lancamentoProgramado.numeroParcela" 
                                           placeholder="" ng-disabled="true"/> 
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <label class="small">Competência</label>
                                <div class="input-group">
                                    <input type="text" autocomplete="off" name="competencia" class="form-control" ng-model="lancamentoProgramado.competencia" 
                                           datepicker-popup="MMMM/yyyy" is-open="datepickerCompetencia.opened" ng-required="true"
                                           current-text="{{datepickerCompetencia.today}}" clear-text="{{datepickerCompetencia.clear}}" close-text="{{datepickerCompetencia.close}}"
                                           placeholder="Competência do lançamento" datepicker-mode="'month'" datepicker-options="{minMode: 'month'}"/>
                                    <span class="input-group-addon" ng-click="datepickerCompetencia.open($event)"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>  
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <label class="small">Data Vencimento</label>
                                <div class="input-group">
                                    <input type="text" autocomplete="off" name="dataVencimento" class="form-control" ng-model="lancamentoProgramado.dataVencimento" 
                                           datepicker-popup="{{datepickerVencimento.format}}" is-open="datepickerVencimento.opened" ng-required="true"
                                           current-text="{{datepickerVencimento.today}}" clear-text="{{datepickerVencimento.clear}}" close-text="{{datepickerVencimento.close}}"
                                           placeholder="Data do vencimento"/>
                                    <span class="input-group-addon" ng-click="datepickerVencimento.open($event)"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <label class="small">Valor</label>
                                <div class="input-group">
                                    <span class="input-group-addon" ><i class="fa fa-usd"></i></span>
                                    <input type="text" autocomplete="off" name="valor" class="form-control text-right"
                                           ui-number-mask="2" placeholder="Valor do lançamento" ng-model="lancamentoProgramado.valor" ng-required="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>     
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-lg fa-times fa-spc"></i> CANCELAR
        </button>
        <button type="button" class="btn btn-primary" ng-click="lancarProgramado(this.lancamentoProgramadoForm, lancamentoProgramado)" ng-show="lancamentoProgramado.situacao.codigo === 'ativo'">
            <i class="fa fa-lg fa-check fa-spc"></i> GERAR LANÇAMENTO
        </button>
        <button type="button" class="btn btn-danger" ng-click="parcelar(this.lancamentoProgramadoForm, lancamentoProgramado)" ng-show="lancamentoProgramado.situacao.codigo === 'ativo'" ng-if="!lancamentoProgramado.lancamentos.length">
            <i class="fa fa-lg fa-check fa-spc"></i> GERAR PARCELAS
        </button>
        <button type="button" class="btn btn-success" ng-click="ok(this.lancamentoProgramadoForm)">
            <i class="fa fa-lg fa-save fa-spc"></i> SALVAR
        </button>
    </div>
</form>    

  