<div id="page-content-wrapper">
    <div class="container-fluid">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                            <div class="row">
                                <div class="col-md-8">Lista com todos os cartões de créditos</div>
                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-primary pull-right" ng-click="salvar()">
                                        <i class="fa fa-lg fa-plus fa-spc"></i> ADICIONAR 
                                    </button>
                                </div>
                            </div>                              
                        </div>
                        <div class="panel-body">
                            <div class="dataTable_wrapper no-padding">
                                <app-table lista="cartaoCreditosLista" colunas="colunas" linha="linha"></app-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>