<div id="page-content-wrapper">
    <div class="container-fluid">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                            <div class="row">
                                <div class="col-md-8">Lista com todos as contas</div>
                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-primary pull-right" ng-click="salvar()">
                                        <i class="fa fa-lg fa-plus fa-spc"></i> ADICIONAR 
                                    </button>
                                </div>
                            </div>                              
                        </div>
                        <div class="panel-body">
                            
                                <div class="col-md-6 list-category text-primary" 
                                     ng-repeat="conta in contasLista | filter: { tipo: conta.tipo } | orderBy: 'nome' track by conta.idConta">
                                    
                                   <h4 class="title">{{conta.nome}}
                                       <a class="btn btn-xs btn-primary pull-right">Visualizar</a>
                                    </h4>
                                    
                                    <div class="list-group">
                                        <div class="list-group-item"><strong>Tipo: </strong><span>{{conta.tipo.descricao}}</span></div>
                                        <div class="list-group-item"><strong>Status: </strong><span>{{conta.status.descricao}}</span></div>
                                        <div class="list-group-item title" ng-if="conta.contaCorrente">
                                            <strong>Conta Corrente: </strong><span>{{conta.contaCorrente.nome}}</span>
                                        </div>
                                        <div class="list-group-item title" ng-if="conta.cartaoCredito">
                                            <strong>Cartão Crédito: </strong><span>{{conta.cartaoCredito.nome}}</span>
                                        </div>
                                        <div class="list-group-item title" ng-if="!conta.cartaoCredito && !conta.contaCorrente">
                                            <strong>---</strong>
                                        </div>
                                    </div>

                                    <div class="row col-md-4">

                                    </div>
                                            
                                    <span class="list-footer">
                                        <div class="pull-right">
                                            <a href="#" class="btn btn-md btn-success">Editar</a>
                                            <a href="#" class="btn btn-md btn-default">Lançamentos</a>
                                        </div>
                                       <span class="clearfix"></span>
                                    </span>
                                    
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>