<form name="planoContaForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="bootbox-body">
            <ul class="list-unstyled">
                <li class="list-group-item">
                    <div class="row form-horizontal">
                        <input type="hidden" name="idPlanoConta" ng-model="planoConta.idPlanoConta"/>
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                            <label class="small">Grupo</label>
                            <div class="input-group">                                  
                                <span class="input-group-addon" ><i class="fa fa-info"></i></span>
                                <select class="form-control" name="grupo" ng-disabled="isGroup"
                                        ng-options="grupo.descricao for grupo in gruposList track by grupo.idPlanoConta" ng-model="planoConta.grupo"></select>
                            </div>
                        </div>                       
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <label class="small">Tipo</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-info"></i></span>
                                <select class="form-control" name="tipo" ng-disabled="true"
                                        ng-options="tipo.descricao for tipo in tipos track by tipo.id" ng-model="planoConta.tipo"></select>
                            </div>
                        </div>    
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                            <label class="small">Nome</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <input type="text" autocomplete="off" name="nome" class="form-control" ng-model="planoConta.nome" 
                                       ng-required="true" placeholder="Nome do plano de conta"/>                                    
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <label class="small">Código</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <input type="text" autocomplete="off" name="codigo" class="form-control" ng-model="planoConta.codigo" 
                                       ng-required="true" placeholder="Código do plano de conta"/>                                    
                            </div>
                        </div>
                    </div>
                </li>
            </ul>     
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-lg fa-times fa-spc"></i> CANCELAR
        </button>
        <button type="button" class="btn btn-success" ng-click="ok(this.planoContaForm)">
            <i class="fa fa-lg fa-save fa-spc"></i> SALVAR
        </button>
    </div>
</form>    

  