<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Util.AtualizadorSRO</listener-class>
    </listener>
    <context-param>
        <param-name>contextResource</param-name>
        <param-value>/WEB-INF/app/js</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServLogin</servlet-name>
        <servlet-class>Servlet.ServLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServTeste</servlet-name>
        <servlet-class>Servlet.ServTeste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServImportacao</servlet-name>
        <servlet-class>Servlet.ServImportacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCliente</servlet-name>
        <servlet-class>Servlet.ServCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAlterarStatus</servlet-name>
        <servlet-class>Servlet.ServAlterarStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirInteracao</servlet-name>
        <servlet-class>Servlet.ServInserirInteracao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirTipoColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServInserirTipoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirTipoColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServExcluirTipoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarTipoColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServEditarTipoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirColetador</servlet-name>
        <servlet-class>Coleta.Servlet.ServInserirColetador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarColetador</servlet-name>
        <servlet-class>Coleta.Servlet.ServEditarColetador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirColetador</servlet-name>
        <servlet-class>Coleta.Servlet.ServExcluirColetador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServInserirColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServContatos</servlet-name>
        <servlet-class>Servlet.ServContatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServNovoAtendimento</servlet-name>
        <servlet-class>Servlet.ServNovoAtendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServRepassarColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServRepassarColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAlterarColetadorColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServAlterarColetadorColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServBaixaColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServBaixaColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirColetaFixa</servlet-name>
        <servlet-class>Coleta.Servlet.ServInserirColetaFixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCarregaColetaFixa</servlet-name>
        <servlet-class>Coleta.Servlet.ServCarregaColetaFixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServExcluirColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServVoltarColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServVoltarColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLogout</servlet-name>
        <servlet-class>Servlet.ServLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirOS</servlet-name>
        <servlet-class>OrdemServico.Servlet.ServInserirOS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServNovoOS</servlet-name>
        <servlet-class>Servlet.ServNovoOS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirInteracaoOS</servlet-name>
        <servlet-class>OrdemServico.Servlet.ServInserirInteracaoOS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirClassificacao</servlet-name>
        <servlet-class>Servlet.ServInserirClassificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirClassificacao</servlet-name>
        <servlet-class>Servlet.ServExcluirClassificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarClassificacao</servlet-name>
        <servlet-class>Servlet.ServEditarClassificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirSubClassificacao</servlet-name>
        <servlet-class>Servlet.ServInserirSubClassificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirSubClassificacao</servlet-name>
        <servlet-class>Servlet.ServExcluirSubClassificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarSubClassificacao</servlet-name>
        <servlet-class>Servlet.ServEditarSubClassificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirUsuario</servlet-name>
        <servlet-class>Servlet.ServInserirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirUsuario</servlet-name>
        <servlet-class>Servlet.ServExcluirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarUsuario</servlet-name>
        <servlet-class>Servlet.ServEditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServNovoCliente</servlet-name>
        <servlet-class>Servlet.ServNovoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ativandoNovaEmpresa</servlet-name>
        <servlet-class>Servlet.ativandoNovaEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirEmpresa</servlet-name>
        <servlet-class>Servlet.ServInserirEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServImportacaoMov</servlet-name>
        <servlet-class>Servlet.ServImportacaoMov</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLoginEmporium</servlet-name>
        <servlet-class>Emporium.Servlet.ServLoginEmporium</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServNovoChamado</servlet-name>
        <servlet-class>Emporium.Servlet.ServNovoChamado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAgendaColeta</servlet-name>
        <servlet-class>Emporium.Servlet.ServAgendaColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInteracaoEmporium</servlet-name>
        <servlet-class>Emporium.Servlet.ServInteracaoEmporium</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLimpaColetasAtrasadas</servlet-name>
        <servlet-class>Coleta.Servlet.ServLimpaColetasAtrasadas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirSetor</servlet-name>
        <servlet-class>Servlet.ServInserirSetor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarSetor</servlet-name>
        <servlet-class>Servlet.ServEditarSetor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirSetor</servlet-name>
        <servlet-class>Servlet.ServExcluirSetor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirUsuarioSetor</servlet-name>
        <servlet-class>Servlet.ServExcluirUsuarioSetor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAdicionarUsuarioSetor</servlet-name>
        <servlet-class>Servlet.ServAdicionarUsuarioSetor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServHoraColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServHoraColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEsqueceuSenha</servlet-name>
        <servlet-class>Emporium.Servlet.ServEsqueceuSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLogoutEmporium</servlet-name>
        <servlet-class>Emporium.Servlet.ServLogoutEmporium</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEsqueciSenha</servlet-name>
        <servlet-class>Servlet.ServEsqueciSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAtivarChamada</servlet-name>
        <servlet-class>Servlet.ServAtivarChamada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServDesativarChamada</servlet-name>
        <servlet-class>Servlet.ServDesativarChamada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAtivarColeta</servlet-name>
        <servlet-class>Servlet.ServAtivarColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServDesativarColeta</servlet-name>
        <servlet-class>Servlet.ServDesativarColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarCliente</servlet-name>
        <servlet-class>Servlet.ServEditarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCriarLoginPortal</servlet-name>
        <servlet-class>Servlet.ServCriarLoginPortal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarLoginPortal</servlet-name>
        <servlet-class>Servlet.ServEditarLoginPortal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirCliente</servlet-name>
        <servlet-class>Servlet.ServExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLoginEmporiumHoito</servlet-name>
        <servlet-class>Emporium.Servlet.ServLoginEmporiumHoito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEmailConfig</servlet-name>
        <servlet-class>Servlet.ServEmailConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServNovoTelegrama</servlet-name>
        <servlet-class>Emporium.Servlet.ServNovoTelegrama</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirLoginPortal</servlet-name>
        <servlet-class>Servlet.ServExcluirLoginPortal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServImportacaoAr</servlet-name>
        <servlet-class>Servlet.ServImportacaoAr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPesquisaPrazo</servlet-name>
        <servlet-class>Emporium.Servlet.ServPesquisaPrazo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirContato</servlet-name>
        <servlet-class>Servlet.ServInserirContato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarContato</servlet-name>
        <servlet-class>Servlet.ServEditarContato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirContato</servlet-name>
        <servlet-class>Servlet.ServExcluirContato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAlterarStatusColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServAlterarStatusColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAlterarObsColeta</servlet-name>
        <servlet-class>Coleta.Servlet.ServAlterarObsColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirDestinatario</servlet-name>
        <servlet-class>Emporium.Servlet.ServInserirDestinatario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarDestinatario</servlet-name>
        <servlet-class>Emporium.Servlet.ServEditarDestinatario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirDestinatario</servlet-name>
        <servlet-class>Emporium.Servlet.ServExcluirDestinatario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirRemetente</servlet-name>
        <servlet-class>Emporium.Servlet.ServInserirRemetente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarRemetente</servlet-name>
        <servlet-class>Emporium.Servlet.ServEditarRemetente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirRemetente</servlet-name>
        <servlet-class>Emporium.Servlet.ServExcluirRemetente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarCadastro</servlet-name>
        <servlet-class>Emporium.Servlet.ServEditarCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPreVenda</servlet-name>
        <servlet-class>Emporium.Servlet.ServPreVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServClienteContrato</servlet-name>
        <servlet-class>Servlet.ServClienteContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirFaixaEtiqueta</servlet-name>
        <servlet-class>Servlet.ServInserirFaixaEtiqueta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirFaixaEtiqueta</servlet-name>
        <servlet-class>Servlet.ServExcluirFaixaEtiqueta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServImportacaoDeptos</servlet-name>
        <servlet-class>Servlet.ServImportacaoDeptos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEtiquetas</servlet-name>
        <servlet-class>iReports.ServEtiquetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServRelAnalitico</servlet-name>
        <servlet-class>iReports.ServRelAnalitico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirAmarracao</servlet-name>
        <servlet-class>Servlet.ServInserirAmarracao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarAmarracao</servlet-name>
        <servlet-class>Servlet.ServEditarAmarracao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirAmarracao</servlet-name>
        <servlet-class>Servlet.ServExcluirAmarracao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServGeraChancela</servlet-name>
        <servlet-class>Servlet.ServGeraChancela</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPreVendaExcluir</servlet-name>
        <servlet-class>Emporium.Servlet.ServPreVendaExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServClienteLatLng</servlet-name>
        <servlet-class>Servlet.ServClienteLatLng</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEtiquetasAr</servlet-name>
        <servlet-class>iReports.ServEtiquetasAr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEtiquetasReimp</servlet-name>
        <servlet-class>iReports.ServEtiquetasReimp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEtiquetasArReimp</servlet-name>
        <servlet-class>iReports.ServEtiquetasArReimp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServServicoAbrangencia</servlet-name>
        <servlet-class>Servlet.ServServicoAbrangencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPreVendaInutilizar</servlet-name>
        <servlet-class>Emporium.Servlet.ServPreVendaInutilizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServRelatorioLogEtq</servlet-name>
        <servlet-class>iReports.ServRelatorioLogEtq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarCartaoDep</servlet-name>
        <servlet-class>Servlet.ServEditarCartaoDep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPreVendaImportar</servlet-name>
        <servlet-class>Emporium.Servlet.ServPreVendaImportar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPreVendaConfirmaImp</servlet-name>
        <servlet-class>Emporium.Servlet.ServPreVendaConfirmaImp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPreVendasAtualiza</servlet-name>
        <servlet-class>Emporium.Servlet.ServPreVendasAtualiza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAlterarBoyColetaFixa</servlet-name>
        <servlet-class>Servlet.ServAlterarBoyColetaFixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirFaixaEtiquetaWS</servlet-name>
        <servlet-class>Servlet.ServInserirFaixaEtiquetaWS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEnviaEmailEtqPendentes</servlet-name>
        <servlet-class>Emporium.Servlet.ServEnviaEmailEtqPendentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServOrdemServico</servlet-name>
        <servlet-class>iReports.ServOrdemServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServSuspenderServico</servlet-name>
        <servlet-class>Servlet.ServSuspenderServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServSuspenderFaixaEtiqueta</servlet-name>
        <servlet-class>Servlet.ServSuspenderFaixaEtiqueta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServTestMultUpload</servlet-name>
        <servlet-class>Servlet.ServTestMultUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPreVendaImportarNFe</servlet-name>
        <servlet-class>Emporium.Servlet.ServPreVendaImportarNFe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContrServicoCombo</servlet-name>
        <servlet-class>Controle.ContrServicoCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServLoginCliente</servlet-name>
        <servlet-class>Servlet.ServLoginCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServServicosPrefixo</servlet-name>
        <servlet-class>Servlet.ServServicosPrefixo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAtualizaContrato</servlet-name>
        <servlet-class>Servlet.ServAtualizaContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServReversaGerar</servlet-name>
        <servlet-class>Emporium.Servlet.ServReversaGerar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServReversaLogin</servlet-name>
        <servlet-class>Emporium.Servlet.ServReversaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServReversaExcluir</servlet-name>
        <servlet-class>Emporium.Servlet.ServReversaExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServReversaAtualizar</servlet-name>
        <servlet-class>Emporium.Servlet.ServReversaAtualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServAtualizaSRO</servlet-name>
        <servlet-class>Servlet.ServAtualizaSRO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServImportacaoMovVisual</servlet-name>
        <servlet-class>Servlet.ServImportacaoMovVisual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServImportaImpressaoPLP</servlet-name>
        <servlet-class>Emporium.Servlet.ServImportaImpressaoPLP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEtiquetasPLP</servlet-name>
        <servlet-class>iReports.ServEtiquetasPLP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEtiquetasArPLP</servlet-name>
        <servlet-class>iReports.ServEtiquetasArPLP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServGeraChancelaEtq</servlet-name>
        <servlet-class>Servlet.ServGeraChancelaEtq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServClienteOutrosServ</servlet-name>
        <servlet-class>Servlet.ServClienteOutrosServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServTelegramaNovo</servlet-name>
        <servlet-class>Emporium.Servlet.ServTelegramaNovo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServTelegramaEnvia</servlet-name>
        <servlet-class>Emporium.Servlet.ServTelegramaEnvia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServTelegramaExcluir</servlet-name>
        <servlet-class>Emporium.Servlet.ServTelegramaExcluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServListaPostagem</servlet-name>
        <servlet-class>iReports.ServListaPostagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServImportacaoMovVisualHTML</servlet-name>
        <servlet-class>Servlet.ServImportacaoMovVisualHTML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServPreVendaMulti</servlet-name>
        <servlet-class>Emporium.Servlet.ServPreVendaMulti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServSalvarARImg</servlet-name>
        <servlet-class>Servlet.ServSalvarARImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServImportarDestinatario</servlet-name>
        <servlet-class>Emporium.Servlet.ServImportarDestinatario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServClienteInserir</servlet-name>
        <servlet-class>Servlet.ServClienteInserir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirGrupoFat</servlet-name>
        <servlet-class>Servlet.ServInserirGrupoFat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditarGrupoFat</servlet-name>
        <servlet-class>Servlet.ServEditarGrupoFat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirGrupoFat</servlet-name>
        <servlet-class>Servlet.ServExcluirGrupoFat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServInserirDepto</servlet-name>
        <servlet-class>Servlet.ServInserirDepto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExcluirSMTP</servlet-name>
        <servlet-class>Servlet.ServExcluirSMTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCriaSMTP</servlet-name>
        <servlet-class>Servlet.ServCriaSMTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>App</servlet-name>
        <jsp-file>/app/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>com.portalpostal.filter.AppFilter</param-value>
        </init-param>
        <init-param>
             <param-name>com.sun.jersey.config.property.packages</param-name>
             <param-value>com.portalpostal.controller</param-value>
        </init-param>        
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
        
    <servlet-mapping>
        <servlet-name>ServLogin</servlet-name>
        <url-pattern>/ServLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServTeste</servlet-name>
        <url-pattern>/ServTeste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServImportacao</servlet-name>
        <url-pattern>/ServImportacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCliente</servlet-name>
        <url-pattern>/ServCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAlterarStatus</servlet-name>
        <url-pattern>/ServAlterarStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirInteracao</servlet-name>
        <url-pattern>/ServInserirInteracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServColeta</servlet-name>
        <url-pattern>/ServColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirTipoColeta</servlet-name>
        <url-pattern>/ServInserirTipoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirTipoColeta</servlet-name>
        <url-pattern>/ServExcluirTipoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarTipoColeta</servlet-name>
        <url-pattern>/ServEditarTipoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirColetador</servlet-name>
        <url-pattern>/ServInserirColetador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarColetador</servlet-name>
        <url-pattern>/ServEditarColetador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirColetador</servlet-name>
        <url-pattern>/ServExcluirColetador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirColeta</servlet-name>
        <url-pattern>/ServInserirColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServContatos</servlet-name>
        <url-pattern>/ServContatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServNovoAtendimento</servlet-name>
        <url-pattern>/ServNovoAtendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServRepassarColeta</servlet-name>
        <url-pattern>/ServRepassarColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAlterarColetadorColeta</servlet-name>
        <url-pattern>/ServAlterarColetadorColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServBaixaColeta</servlet-name>
        <url-pattern>/ServBaixaColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirColetaFixa</servlet-name>
        <url-pattern>/ServInserirColetaFixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCarregaColetaFixa</servlet-name>
        <url-pattern>/ServCarregaColetaFixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirColeta</servlet-name>
        <url-pattern>/ServExcluirColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServVoltarColeta</servlet-name>
        <url-pattern>/ServVoltarColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLogout</servlet-name>
        <url-pattern>/ServLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirOS</servlet-name>
        <url-pattern>/ServInserirOS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServNovoOS</servlet-name>
        <url-pattern>/ServNovoOS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirInteracaoOS</servlet-name>
        <url-pattern>/ServInserirInteracaoOS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirClassificacao</servlet-name>
        <url-pattern>/ServInserirClassificacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirClassificacao</servlet-name>
        <url-pattern>/ServExcluirClassificacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarClassificacao</servlet-name>
        <url-pattern>/ServEditarClassificacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirSubClassificacao</servlet-name>
        <url-pattern>/ServInserirSubClassificacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirSubClassificacao</servlet-name>
        <url-pattern>/ServExcluirSubClassificacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarSubClassificacao</servlet-name>
        <url-pattern>/ServEditarSubClassificacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirUsuario</servlet-name>
        <url-pattern>/ServInserirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirUsuario</servlet-name>
        <url-pattern>/ServExcluirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarUsuario</servlet-name>
        <url-pattern>/ServEditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServNovoCliente</servlet-name>
        <url-pattern>/ServNovoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ativandoNovaEmpresa</servlet-name>
        <url-pattern>/ativandoNovaEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirEmpresa</servlet-name>
        <url-pattern>/ServInserirEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServImportacaoMov</servlet-name>
        <url-pattern>/ServImportacaoMov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLoginEmporium</servlet-name>
        <url-pattern>/ServLoginEmporium</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServNovoChamado</servlet-name>
        <url-pattern>/ServNovoChamado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAgendaColeta</servlet-name>
        <url-pattern>/ServAgendaColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInteracaoEmporium</servlet-name>
        <url-pattern>/ServInteracaoEmporium</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLimpaColetasAtrasadas</servlet-name>
        <url-pattern>/ServLimpaColetasAtrasadas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirSetor</servlet-name>
        <url-pattern>/ServInserirSetor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarSetor</servlet-name>
        <url-pattern>/ServEditarSetor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirSetor</servlet-name>
        <url-pattern>/ServExcluirSetor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirUsuarioSetor</servlet-name>
        <url-pattern>/ServExcluirUsuarioSetor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAdicionarUsuarioSetor</servlet-name>
        <url-pattern>/ServAdicionarUsuarioSetor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServHoraColeta</servlet-name>
        <url-pattern>/ServHoraColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEsqueceuSenha</servlet-name>
        <url-pattern>/ServEsqueceuSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLogoutEmporium</servlet-name>
        <url-pattern>/ServLogoutEmporium</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEsqueciSenha</servlet-name>
        <url-pattern>/ServEsqueciSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAtivarChamada</servlet-name>
        <url-pattern>/ServAtivarChamada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServDesativarChamada</servlet-name>
        <url-pattern>/ServDesativarChamada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAtivarColeta</servlet-name>
        <url-pattern>/ServAtivarColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServDesativarColeta</servlet-name>
        <url-pattern>/ServDesativarColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarCliente</servlet-name>
        <url-pattern>/ServEditarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCriarLoginPortal</servlet-name>
        <url-pattern>/ServCriarLoginPortal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarLoginPortal</servlet-name>
        <url-pattern>/ServEditarLoginPortal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirCliente</servlet-name>
        <url-pattern>/ServExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLoginEmporiumHoito</servlet-name>
        <url-pattern>/ServLoginEmporiumHoito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEmailConfig</servlet-name>
        <url-pattern>/ServEmailConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServNovoTelegrama</servlet-name>
        <url-pattern>/ServNovoTelegrama</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirLoginPortal</servlet-name>
        <url-pattern>/ServExcluirLoginPortal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServImportacaoAr</servlet-name>
        <url-pattern>/ServImportacaoAr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPesquisaPrazo</servlet-name>
        <url-pattern>/ServPesquisaPrazo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirContato</servlet-name>
        <url-pattern>/ServInserirContato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarContato</servlet-name>
        <url-pattern>/ServEditarContato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirContato</servlet-name>
        <url-pattern>/ServExcluirContato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAlterarStatusColeta</servlet-name>
        <url-pattern>/ServAlterarStatusColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAlterarObsColeta</servlet-name>
        <url-pattern>/ServAlterarObsColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirDestinatario</servlet-name>
        <url-pattern>/ServInserirDestinatario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarDestinatario</servlet-name>
        <url-pattern>/ServEditarDestinatario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirDestinatario</servlet-name>
        <url-pattern>/ServExcluirDestinatario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirRemetente</servlet-name>
        <url-pattern>/ServInserirRemetente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarRemetente</servlet-name>
        <url-pattern>/ServEditarRemetente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirRemetente</servlet-name>
        <url-pattern>/ServExcluirRemetente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarCadastro</servlet-name>
        <url-pattern>/ServEditarCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPreVenda</servlet-name>
        <url-pattern>/ServPreVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServClienteContrato</servlet-name>
        <url-pattern>/ServClienteContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirFaixaEtiqueta</servlet-name>
        <url-pattern>/ServInserirFaixaEtiqueta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirFaixaEtiqueta</servlet-name>
        <url-pattern>/ServExcluirFaixaEtiqueta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServImportacaoDeptos</servlet-name>
        <url-pattern>/ServImportacaoDeptos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEtiquetas</servlet-name>
        <url-pattern>/ServEtiquetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServRelAnalitico</servlet-name>
        <url-pattern>/ServRelAnalitico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirAmarracao</servlet-name>
        <url-pattern>/ServInserirAmarracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarAmarracao</servlet-name>
        <url-pattern>/ServEditarAmarracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirAmarracao</servlet-name>
        <url-pattern>/ServExcluirAmarracao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServGeraChancela</servlet-name>
        <url-pattern>/ServGeraChancela</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPreVendaExcluir</servlet-name>
        <url-pattern>/ServPreVendaExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServClienteLatLng</servlet-name>
        <url-pattern>/ServClienteLatLng</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEtiquetasAr</servlet-name>
        <url-pattern>/ServEtiquetasAr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEtiquetasReimp</servlet-name>
        <url-pattern>/ServEtiquetasReimp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEtiquetasArReimp</servlet-name>
        <url-pattern>/ServEtiquetasArReimp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServServicoAbrangencia</servlet-name>
        <url-pattern>/ServServicoAbrangencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPreVendaInutilizar</servlet-name>
        <url-pattern>/ServPreVendaInutilizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServRelatorioLogEtq</servlet-name>
        <url-pattern>/ServRelatorioLogEtq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarCartaoDep</servlet-name>
        <url-pattern>/ServEditarCartaoDep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPreVendaImportar</servlet-name>
        <url-pattern>/ServPreVendaImportar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPreVendaConfirmaImp</servlet-name>
        <url-pattern>/ServPreVendaConfirmaImp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPreVendasAtualiza</servlet-name>
        <url-pattern>/ServPreVendasAtualiza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAlterarBoyColetaFixa</servlet-name>
        <url-pattern>/ServAlterarBoyColetaFixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirFaixaEtiquetaWS</servlet-name>
        <url-pattern>/ServInserirFaixaEtiquetaWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEnviaEmailEtqPendentes</servlet-name>
        <url-pattern>/ServEnviaEmailEtqPendentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServOrdemServico</servlet-name>
        <url-pattern>/ServOrdemServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServSuspenderServico</servlet-name>
        <url-pattern>/ServSuspenderServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServSuspenderFaixaEtiqueta</servlet-name>
        <url-pattern>/ServSuspenderFaixaEtiqueta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServTestMultUpload</servlet-name>
        <url-pattern>/ServTestMultUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPreVendaImportarNFe</servlet-name>
        <url-pattern>/ServPreVendaImportarNFe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContrServicoCombo</servlet-name>
        <url-pattern>/ContrServicoCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServLoginCliente</servlet-name>
        <url-pattern>/ServLoginCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServServicosPrefixo</servlet-name>
        <url-pattern>/ServServicosPrefixo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAtualizaContrato</servlet-name>
        <url-pattern>/ServAtualizaContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServReversaGerar</servlet-name>
        <url-pattern>/ServReversaGerar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServReversaLogin</servlet-name>
        <url-pattern>/ServReversaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServReversaExcluir</servlet-name>
        <url-pattern>/ServReversaExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServReversaAtualizar</servlet-name>
        <url-pattern>/ServReversaAtualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServAtualizaSRO</servlet-name>
        <url-pattern>/ServAtualizaSRO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServImportacaoMovVisual</servlet-name>
        <url-pattern>/ServImportacaoMovVisual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServImportaImpressaoPLP</servlet-name>
        <url-pattern>/ServImportaImpressaoPLP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEtiquetasPLP</servlet-name>
        <url-pattern>/ServEtiquetasPLP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEtiquetasArPLP</servlet-name>
        <url-pattern>/ServEtiquetasArPLP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServGeraChancelaEtq</servlet-name>
        <url-pattern>/ServGeraChancelaEtq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServClienteOutrosServ</servlet-name>
        <url-pattern>/ServClienteOutrosServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServTelegramaNovo</servlet-name>
        <url-pattern>/ServTelegramaNovo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServTelegramaEnvia</servlet-name>
        <url-pattern>/ServTelegramaEnvia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServTelegramaExcluir</servlet-name>
        <url-pattern>/ServTelegramaExcluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServListaPostagem</servlet-name>
        <url-pattern>/ServListaPostagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServImportacaoMovVisualHTML</servlet-name>
        <url-pattern>/ServImportacaoMovVisualHTML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServPreVendaMulti</servlet-name>
        <url-pattern>/ServPreVendaMulti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServSalvarARImg</servlet-name>
        <url-pattern>/ServSalvarARImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServImportarDestinatario</servlet-name>
        <url-pattern>/ServImportarDestinatario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServClienteInserir</servlet-name>
        <url-pattern>/ServClienteInserir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirGrupoFat</servlet-name>
        <url-pattern>/ServInserirGrupoFat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditarGrupoFat</servlet-name>
        <url-pattern>/ServEditarGrupoFat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirGrupoFat</servlet-name>
        <url-pattern>/ServExcluirGrupoFat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServInserirDepto</servlet-name>
        <url-pattern>/ServInserirDepto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExcluirSMTP</servlet-name>
        <url-pattern>/ServExcluirSMTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCriaSMTP</servlet-name>
        <url-pattern>/ServCriaSMTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>App</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
        
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
