<input type="text" autocomplete="off" name="{{name}}" 
       class="form-control" 
       ng-model="datepickerModel" 
       datepicker-popup="{{datepicker.format}}" 
       is-open="datepicker.opened" 
       ng-required="true"
       current-text="{{datepicker.today}}" 
       clear-text="{{datepicker.clear}}" 
       close-text="{{datepicker.close}}"
       placeholder="{{placeholder}}" />
<span class="input-group-addon" ng-click="datepicker.open($event)"><i class="fa fa-calendar"></i></span>
