
<div class="input-group">
    <span class="input-group-addon" ng-if="!showTypeFilter"><i class="fa fa-info"></i></span>
    <input type="text" autocomplete="off" class="form-control"
           placeholder="{{placeholder}}" name="{{name}}"
           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 100, 'blur': 0 } }"
           ng-model="itemModel[field]" 
           ng-click="setVisible(!dropdownVisible)"
           ng-change="selectItemEmpty(itemModel[field])">
    <ul class="dropdown-menu typeahead-content"
        ng-class=" { 'show-list': dropdownVisible, 'hide-list': !dropdownVisible } ">
        <li ng-repeat="item in itemsFiltered = filterList(items, itemModel[field])">
            <a ng-click="selectItem(item)" style="cursor: pointer;"><span compile="getItem(item)"></span></a>
        </li>
    </ul>
</div>