


/***************************************************************/
/******************* ESTILO GERAL ******************************/
/***************************************************************/

/************ ESTRUTURA DA PAGINA **************/
* {margin:0; padding:0; outline:0}
body{height:100%;margin:0; padding:0; font-family:Verdana; font-size:12px; background-color:#f5f5f5;} /*url('../imagensNew/paper-background.jpg');}*/
#divPrincipal{padding-bottom:50px; width:100%; position:absolute; min-width:1200px;} /*ANTIGO WIDTH 1000*/
#container{width:1200px; position:relative; padding-bottom: 100px; text-align:left; background:white;} /*url('../imagensNew/bg_1.png') ANTIGO WIDTH 1000*/
#conteudo{padding: 10px 20px; min-height: 500px;}

/************ LINKS E IMAGENS **************/
a{text-decoration: none; cursor: pointer;}
a:visited{text-decoration: none; cursor: pointer;}
.link_img{text-decoration: none; margin:0 3px -3px 0 !important; padding:0; border:none; width:16px; height:16px;}
.alignImg {margin:0 3px -3px 0 !important; padding:0; border:none; width:16px; height:16px;}

/************ MOSTRA E ESCONDE **************/
.esconder{display: none;}
.mostrar{display: block;}

/************ ESTILO DOS INPUTS **************/
input[type="image"]{border:0; background: none;}
input[type="text"], input[type="password"] {  border: 1px solid #aaa; height: 16px;}
input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
input { font-size:11px; padding:2px; margin:0px; background: white;}
input[disabled] {border: 1px solid #999; background-color: #ddd; height: 16px;}
input[readonly] {border: 1px solid #aaa; background-color: #eee; height: 16px;}
input:focus, select:focus, textarea:focus { background: cornsilk; border: 1px solid gray; min-height: 16px; }
select { font-size:11px; padding:2px; margin:0px; text-transform: uppercase; }

/***********
TOOLTIP 1
***********/
.mostraTooltip {display: block; color:black; position: absolute; margin-left: 35px; margin-top: -19px; text-align: left; padding: 0px; z-index: 20;}
.showSpan{visibility: visible;border-style: solid;border-width: 1px;border-color: #D8000C;background-color: #FEEFB3;}

/***************************************************************/
/************************* FORMULARIO **************************/
/***************************************************************/

.ul_tab { margin:0px; padding:0px; list-style:none; float:left;  width:100%; background: none; }
.ul_tab li dl { color:#336699; float:left; height:60px; padding:10px; width:169px; height:90px; background:#EEEEEE; border:1px solid #CCCCCC; border-left: none; border-bottom: 1px solid #5EA9FF; text-align: center; }
.ul_tab li dl dd { margin-bottom: 5px;  opacity: 0.5; font-size: 9px; font-weight: bold;}
.ul_tab li dl dd .serv { font-size: 20px; font-weight:900; letter-spacing: -1px; font-style: italic; }
.ul_tab li dl dd .servSmall { font-size: 15px; font-weight:1200; letter-spacing: -1px; font-style: italic; }
.ul_tab li dl dd input { margin:10px; border:none; }
.ul_tab li dl dd img { display:block; margin: 0 auto; }
.ul_tab li dl dd p { font-size:11px; color:gray; margin:0 auto; text-align:center; font-weight: bold; }
.ul_tab li dl dd p b { font-size:10px; color:#FF0000; }
.ul_tab li dl dd span {font-size:10px; color:blue}
.ul_tab li .ativo { background:url('../../imagensNew/bg-22.png') repeat-x #5EA9FF; border: 1px solid #5EA9FF; color: white; /*border-bottom:1px solid white;*/ }
.ul_tab li .ativo dd { margin-bottom: 5px;  opacity: 1;  }
.ul_tab li .ativo dd p { color: white; }
.ul_tab li .ativo dd p b { color:white; }
.ul_tab li .ativo dd span {color:white;}

.ul_tab li dl:hover { background:#CCCCCC; cursor:pointer; }
.ul_tab li .ativo:hover { background:url('../../imagensNew/bg-22.png') repeat-x #5EA9FF; border: 1px solid #5EA9FF; color: white; cursor:default; }


.ul_formulario { padding:15px 10px 25px 10px; list-style:none; float:left; font-size:10px; background: white; width: 1140px; *margin-left:0px; } /*ANTIGO WIDTH 940*/
.ul_formulario li { padding:4px; min-height:40px; clear: both; }
.ul_formulario li dd { float:left; margin:0px 0px 2px 8px; text-transform: uppercase; }
.ul_formulario li dd label { display:block; margin:0px 0px 3px 0px; font-size:10px; font-weight:bold; color:#333; }
.ul_formulario li dd label b.obg{ color: red; font-weight: bolder; }
.ul_formulario li dd label a { float: right; color: blue; cursor: pointer; }
.ul_formulario li dd label a img { height: 12px; width: 12px; text-decoration: none; margin:0 2px -2px 0 !important; padding:0; border:none;}
.ul_formulario li dd label span { font-size:8px; font-weight:normal; }
.ul_formulario li dd .img_form { margin:0 0 -8px -5px !important; padding:0; border:none; cursor: pointer; }
.ul_formulario li dd .botao { margin-left:-3px }
.ul_formulario li.titulo { min-height: 20px; }
.ul_formulario li.titulo dd { font-size: 12px; width:100%; border-bottom: 1px solid #ccc; font-weight: bold; margin:0px; }

.ul_dados { padding:15px 10px 15px 10px; list-style:none; float:left; font-size:11px; background: white; width:1140px; *margin-left:0px; } /*ANTIGO WIDTH 940*/
.ul_dados li { padding:4px; min-height:20px; clear: both; }
.ul_dados li dd { float:left; margin:0 0 10px 0; text-transform: uppercase; }
.ul_dados li dd label { display:block; margin:0px 0px 3px 0px; font-size:10px; font-weight:bold; color:#333; }
.ul_dados li dd label span { font-size:8px; font-weight:normal; }
.ul_dados li dd.titulo { font-size: 12px; width: 100%; border-bottom: 1px solid #ccc; font-weight: bold; }

/***************************************************************/
/************************* TITULOS *****************************/
/***************************************************************/

#titulo1{padding-bottom:10px;font-size:20px;font-weight:bold;color: #cc0000;}
#titulo1 span{color: #529214;}

#titulo2{background: #0b67cd; color:#fff; padding: 5px;border: 1px solid white;font-size: 16px;font-weight: bold;clear: both;}

/***************************************************************/
/******************* DIV INTERAÇAO *****************************/
/***************************************************************/

#divProtecao{margin:0px; padding:0px; width:100%; height:100%; z-index:3; position:fixed; cursor:url("../imagensNew/not.cur"),not-allowed; background:url(../imagensNew/protecaob.png);}
#divProtecao2{margin:0px; padding:0px; top:0; left:0; width:100%; height:100%; z-index:2; position:fixed; cursor:url("../imagensNew/not.cur"),not-allowed; background:url(../imagensNew/protecaob.png);}
#divInteracao,#divInteracao3{position:fixed; z-index:5; top:15px; left:15px; right:15px; bottom:15px; overflow:auto; background:white; border:4px solid #2d89ef; }
#divInteracao2{position:fixed; z-index:5; top:30px; left:30px; right:30px; bottom:30px; overflow:auto; background:white; border:4px solid #2d89ef; }

/***************************************************************/
/******************* TELA DE ESPERA **************************/
/***************************************************************/

#protecaoTelaEspera{margin:0px;padding:0px;width:100%;height:100%;z-index:100;position:fixed; top: 0px; left:0px; background:url(../imagensNew/protecaob.png) left top;}
#telaEspera{width:250px;height:auto;text-align:center;position:relative;left:50%;top:40%;margin-left:-115px;z-index:1001;font-size:18px;font-weight:bold;background-color:white;border:2px outset #008ED6;padding:20px;}

/***************************************************************/
/******************* TELA DE MENSAGEM **************************/
/***************************************************************/
/*codigo velho
#divEsperaMsg{margin:0px; padding:0px; width:100%; height:100%; z-index:100; position:fixed; top: 0px; left:0px; background:url(../imagensNew/protecao.png) left top;}
.msg{width:450px; min-height: 100px; text-align:center; position:relative; left:45%; top:35%; margin-left:-115px; z-index:101; font-weight:bold; background-color:white; border:1px outset #b02c2c; padding:10px 0;}
.msg .title {font-size: 16px; font-weight: bold; color: #b02c2c; border-bottom: 1px solid silver; margin-bottom: 5px; text-align: left; padding-left: 10px;}

.msg .fechar {background: transparent url(../imagensNew/cross-button-gray.png) right no-repeat; color:silver; font-size: 13px; margin-right: 10px; text-align:center; padding:2px 20px 2px 0; display:inline-block; text-decoration:none; font-weight:bold;}
.msg .fechar:hover {background: transparent url(../imagensNew/cross-button.png) right no-repeat; color:#cc0000;}
*/

#divEsperaMsg{margin:0px; padding:0px; width:100%; height:100%; z-index:100; position:fixed; top: 0px; left:0px; background:url(../imagensNew/protecaob.png) left top;}
.msg{width:450px; min-height: 100px; text-align:left; position:relative; left:45%; top:35%; margin-left:-115px; z-index:101; font-weight:bold; background-color:white; border:3px solid #2d89ef; padding:0 0 10px 0;}
.msg #tdMsg{padding:15px 20px;}
.msg .title {font-size: 16px; font-weight: bold; color: white; background: #2d89ef; border-bottom: 1px solid silver; text-align: left; padding: 10px;}

.msg .fechar {background: transparent url(../imagensNew/close.png) right no-repeat; margin-right: 5px; margin-top: -4px; padding:24px 24px 0 0; display:inline-block;}
.msg .fechar:hover {background: transparent url(../imagensNew/close2.png) right no-repeat;}

/******************************************************/
/************************* BOTOES *********************/
/******************************************************/

.botaoClose{background: transparent url(../imagensNew/cross-button-gray.png) right no-repeat; color:silver; text-align:center; padding:2px 20px 2px 0; display:inline-block; text-decoration:none; font-weight:bold;}
.botaoClose:hover{background: transparent url(../imagensNew/cross-button.png) right no-repeat; color:#cc0000;}

.botaoVoltar{background:url('../images/back.png') no-repeat left transparent;text-decoration:none;padding-left:20px;padding-top:3px;font-weight:bold;color:#4b70ad;}

/****************** botoes submit ************/
.buttons a, .buttons button{
    /*display:block;
    float:left;*/
    margin:15px 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #c3c3c3;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

.buttons2 a, .buttons2 button{
    background-color:#f5f5f5;
    border:1px solid #c3c3c3;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}

.buttons button, .buttons2 button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type], .buttons2 button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img, .buttons2 button img, .buttons2 a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover, .buttons2 a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active, .buttons2 a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive, .buttons2 a.positive{
    color:#529214;
}
.buttons a.positive:hover, .buttons2 a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active, .buttons2 a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, .buttons2 a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, .buttons2 a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active, .buttons2 a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* REGULAR */

button.regular, .buttons a.regular, .buttons2 a.regular{
    color:#336699;
}
.buttons a.regular:hover, .buttons2 a.regular:hover, button.regular:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a.regular:active, .buttons2 a.regular:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* DISABLED */

button.disabled, .buttons a.disabled, .buttons2 a.disabled{
    cursor: default;
    background-color:#e7e7e7;
    border:1px solid #ccc;
    color:#aaa;
}

button.selected, .buttons a.selected, .buttons2 a.selected{
    cursor: default;
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}


/***********
TABELA CSS
***********/
.tb1{border-top:0px;border-left:1px solid #ccc;}
.tb1 tr.white{background: white;}
.tb1 tr.even{background: white;}
.tb1 tr.odd{background: #dceeff;}
.tb1 tr.red{background: #fbc2c4;}
.tb1 tr:hover{cursor:default; background:#fef3c1; color:#5478dd;}
.tb1 th{background: #2d89ef ; text-align:left; color: white; border:1px solid #fff; border-left:none;  padding:6px 8px 8px; }
.tb1 td{border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1; padding: 5px; }

/***********
LISTA DE REGIOES E CATEGORIA
***********/
ul.lista1{margin: 0px;}
ul.lista1 li{font-size: 13px; list-style: none; margin: 3px 0; padding: 3px 0 0 0; }
ul.lista1 li:hover{background: #fef1ec;}
ul.lista1 li a{color: #336699; background:  url("../imagensNew/arrow_skip_gray.png") no-repeat; text-decoration: none; padding: 0 0 3px 20px; margin: 0 7px;}
ul.lista1 li a:hover{color: darkgreen; background:  url("../imagensNew/arrow_skip.png") no-repeat;padding: 0 0 3px 20px;}
ul.lista1 li.sel{background: #fef3c1; font-weight: bold; border: 1px solid #ff9999;}
ul.lista1 li.sel a{color: darkgreen; background:  url("../imagensNew/arrow_skip.png") no-repeat;padding: 0 0 3px 20px;}
ul.lista1 li.even{background: #f6f6f6;}
ul.lista1 li.even:hover{background: #fef3c1;}
ul.lista1 li.odd{background: #fafafa;}
ul.lista1 li.odd:hover{background: #fef3c1;}



/*************************************************************
The alert message box 
***************************************************************/
.dangerBox {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    font-size: medium;
}
.warningBox{
    padding: 20px;
    background-color: #ffa500; /* orange */
    color: white;
    margin-bottom: 15px;
    font-size: medium;
}
.infoBox{
    padding: 20px;
    background-color: #5EA9FF; /* orange */
    color: white;
    margin-bottom: 15px;
    font-size: medium;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}