<form name="lancamentoTransferenciaForm" novalidate>
    <div class="modal-header bg-modal-success">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="bootbox-body">
            <ul class="list-unstyled">
                <li class="list-group-item">
                    <div class="row form-horizontal">
                        <input type="hidden" name="idLancamentoTransferencia" ng-model="lancamentoTransferencia.idLancamentoTransferencia"/>   
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 divider-vertical-right"> 
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                    <label class="small">Conta Origem</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" ><i class="fa fa-info"></i></span>
                                        <select class="form-control" name="contaOrigem" 
                                                ng-options="conta.nome for conta in contas track by conta.idConta" ng-model="lancamentoTransferencia.contaOrigem"></select>
                                    </div>
                                </div> 
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                    <label class="small">Data Origem</label>
                                    <app-datepicker class="input-group" name="dataLancamentoOrigem" datepicker-model="lancamentoTransferencia.dataLancamentoOrigem" events="events"></app-datepicker>
<!--                                    <div class="input-group">
                                        <input type="text" autocomplete="off" name="dataLancamento" class="form-control" ng-model="lancamentoTransferencia.dataLancamento" 
                                               datepicker-popup="{{datepickerLancamento.format}}" is-open="datepickerLancamento.opened" ng-required="true"
                                               current-text="{{datepickerLancamento.today}}" clear-text="{{datepickerLancamento.clear}}" close-text="{{datepickerLancamento.close}}"
                                               placeholder="Data do lançamento" ng-blur="setDataCompetencia(lancamentoTransferencia)" ng-model-options="{debounce: {'blur': 0}}"/>
                                        <span class="input-group-addon" ng-click="datepickerLancamento.open($event)"><i class="fa fa-calendar"></i></span>
                                    </div>-->
                                </div> 
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                    <label class="small">Data Competência Origem</label>
                                    <app-datepicker class="input-group" name="dataCompetenciaOrigem" datepicker-model="lancamentoTransferencia.dataCompetenciaOrigem"></app-datepicker>
<!--                                    <div class="input-group">
                                        <input type="text" autocomplete="off" name="dataCompetencia" class="form-control" ng-model="lancamentoTransferencia.dataCompetencia" 
                                               datepicker-popup="{{datepickerCompetencia.format}}" is-open="datepickerCompetencia.opened" ng-required="true"
                                               current-text="{{datepickerCompetencia.today}}" clear-text="{{datepickerCompetencia.clear}}" close-text="{{datepickerCompetencia.close}}"
                                               placeholder="Competência do lançamento"/>
                                        <span class="input-group-addon" ng-click="datepickerCompetencia.open($event)"><i class="fa fa-calendar"></i></span>
                                    </div>-->
                                </div>    
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">   
                            <div class="row">   
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                    <label class="small">Conta Destino</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" ><i class="fa fa-info"></i></span>
                                        <select class="form-control" name="contaDestino" 
                                                ng-options="conta.nome for conta in contas track by conta.idConta" ng-model="lancamentoTransferencia.contaDestino"></select>
                                    </div>
                                </div> 
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                    <label class="small">Data Destino</label>
                                    <app-datepicker class="input-group" name="dataLancamentoDestino" datepicker-model="lancamentoTransferencia.dataLancamentoDestino" events="events"></app-datepicker>
                                </div>  
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                    <label class="small">Data Competência Destino</label>
                                    <app-datepicker class="input-group" name="dataCompetenciaDestino" datepicker-model="lancamentoTransferencia.dataCompetenciaDestino"></app-datepicker>
                                </div> 
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="divider-horizontal-top" style="margin-left:15px; margin-right:15px;"></div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="small">Número</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                        <input class="form-control" type="text" name="numero" ng-model="lancamentoTransferencia.numero" 
                                               placeholder="Número"/>  
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="small">Valor</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" ><i class="fa fa-usd"></i></span>
                                        <input type="text" autocomplete="off" name="valor" class="form-control"
                                               ui-number-mask="2" placeholder="Valor do lançamento" ng-model="lancamentoTransferencia.valor" ng-required="true"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                    <label class="small">Histórico</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                        <input class="form-control" type="text" name="historico" ng-model="lancamentoTransferencia.historico" 
                                               placeholder="Histórico do lançamento"  ng-required="true"/>  
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label class="small">Observação</label>
                                    <textarea class="form-control" rows="3" name="observacao" placeholder="" ng-model="lancamentoTransferencia.observacao"></textarea>       
                                </div>
                            </div>    
                        </div> 
                    </div>
                </li>
            </ul>     
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-lg fa-times fa-spc"></i> CANCELAR
        </button>
        <button type="button" class="btn btn-success" ng-click="ok(this.lancamentoTransferenciaForm, lancamentoTransferencia)">
            <i class="fa fa-lg fa-save fa-spc"></i> SALVAR
        </button>
    </div>
</form>    

  