<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body" style="padding-bottom: 0;">
    <div class="bootbox-body">
        <div class="row">
            <form name="lancamentoAnexoForm" ng-submit="anexar(lancamento, anexoFile)">
                <div class="col-md-10">
                    <label>Selecione o arquivo que você deseja anexar a este lançamento</label><br>
                    <i>Tipos permitidos: JPG, PNG, GIF e PDF</i><br>
                    <i>Tamanho permitido: até 100kb</i><br>
                    <input type="file" name="anexo" file-model="anexoFile" style="margin-top: 10px;"/>
                </div>
                <div class="col-md-2">
                    <!--<input type="button" class="btn btn-default" value="Anexar" ng-click="anexar(uploader.queue)" />--> 
                    <input type="submit" class="btn btn-default" value="Anexar"/>
                </div>
            </form>
        </div>
        <div class="row" style="margin-top: 20px; width: 100%; height: 360px;">
           <div class="col-md-6">
               <div class="list-group">
                   <div class="list-group-item" style="border-left: none; border-right: none; cursor: pointer"
                        ng-repeat="anexo in anexos track by anexo.idLancamentoAnexo" ng-click="visualizar(anexo)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-1"><h5><i class="fa {{anexo.icon}}"></i></h5></div>
                                    <div class="col-md-11">
                                        <h5>{{anexo.nome}}
                                            <div class="pull-right" style="margin-top: -10px;">
                                                <button class="btn btn-default btn-md" style="height: 35px; padding: 0 6px" ng-click="download(anexo)">
                                                    <span class="fa fa-download"></span>
                                                </button>
                                                <button class="btn btn-danger btn-md" style="height: 35px; padding: 0 6px" ng-click="remover(lancamento, anexo)">
                                                    <span class="fa fa-trash"></span>
                                                </button>
                                            </div>
                                        </h5>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
           </div>
           <div class="col-md-6 text-center" style="background-color: #e5e5e5; height: 100%; padding: 20px;">
                <h5>{{file.name}}</h5>
                <img ng-if="file.type" style="max-width:100%; max-height:100%; height: auto; width:auto;" data-ng-src="data:{{file.type}};base64,{{file.image}}">
                <i ng-if="!file.type" class="fa {{file.icon}}" style="font-size: 160pt; padding-top: 30px;"></i>
<!--                <iframe ng-src="{{anexoFile.fileURL}}" height="100%" width="100%"></iframe>-->
<!--                <object style="max-width:100%; max-height:100%; height: auto; width:auto;" data="{{anexoFile.fileURL}}" type="{{anexoFile.fileType}}"></object>-->
           </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">
        <i class="fa fa-lg fa-check fa-spc"></i> OK
    </button>
<!--    <button type="button" class="btn btn-primary" ng-click="voltar()">
        <i class="fa fa-lg fa-check fa-spc"></i> OK
    </button>-->
</div>

  