<form name="lancamentoForm" novalidate>
    <div class="modal-header" ng-class="{'bg-modal-primary': lancamento.tipo.codigo === 'receita', 
                                         'bg-modal-danger': lancamento.tipo.codigo === 'despesa'}">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="bootbox-body">
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Conta:</label>
                </div>
                <div class="col-md-8">{{lancamento.conta.nome}}</div>
            </div>
            <div class="row" ng-hide="lancamento.rateios && lancamento.rateios.length">
                <div class="col-md-4 text-right">
                    <label>Plano de Conta:</label>
                </div>
                <div class="col-md-8">{{lancamento.planoConta}}</div>
            </div>
            <div class="row" ng-hide="lancamento.rateios && lancamento.rateios.length">
                <div class="col-md-4 text-right">
                    <label>Centro de Custo:</label>
                </div>
                <div class="col-md-8">{{lancamento.centroCusto}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Tipo:</label>
                </div>
                <div class="col-md-8">{{lancamento.tipo.descricao}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Favorecido:</label>
                </div>
                <div class="col-md-8">{{(lancamento.favorecido)}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Número:</label>
                </div>
                <div class="col-md-8">{{(lancamento.numero)}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Data Emissão:</label>
                </div>
                <div class="col-md-8">{{lancamento.dataEmissao | date: 'dd/MM/yyyy HH:mm'}}</div>
            </div>
            <div class="row" ng-if="lancamento.modelo.id !== 0">
                <div class="col-md-4 text-right">
                    <label>Data Vencimento:</label>
                </div>
                <div class="col-md-8">{{lancamento.dataVencimento | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Data Lançamento:</label>
                </div>
                <div class="col-md-8">{{lancamento.dataLancamento | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Data Competência:</label>
                </div>
                <div class="col-md-8">{{lancamento.dataCompetencia | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Data Compensação:</label>
                </div>
                <div class="col-md-8">{{lancamento.dataCompensacao | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Valor:</label>
                </div>
                <div class="col-md-8">{{lancamento.valor | currency: 'R$ '}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Situação:</label>
                </div>
                <div class="col-md-8">{{lancamento.situacao.descricao}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Histórico:</label>
                </div>
                <div class="col-md-8">{{lancamento.historico}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Autenticação:</label>
                </div>
                <div class="col-md-8">{{lancamento.autenticacao}}</div>
            </div>
            <div class="row" ng-hide="lancamento.rateios && lancamento.rateios.length">
                <div class="col-md-4 text-right">
                    <label>Observação:</label>
                </div>
                <div class="col-md-8 angular-with-newlines">{{lancamento.observacao}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Usuário:</label>
                </div>
                <div class="col-md-8 angular-with-newlines">{{lancamento.usuario | uppercase}}</div>
            </div>
            <br />
            <app-ratear plano-contas="planoContas" centro-custos="centroCustos" lancamento-ratear="lancamento" only-view="true" show="true"
                         ng-show="lancamento.rateios && lancamento.rateios.length"></app-ratear>
        </div>
    </div>
    <div class="modal-footer">
<!--        <button type="button" class="btn btn-success" ng-click="programacao()" ng-if="lancamento.lancamentoProgramado.idLancamentoProgramado">
            <i class="fa fa-lg fa-clock-o fa-spc"></i> PROGRAMAÇÃO
        </button>-->
        <button type="button" class="btn btn-warning" ng-click="editar()">
            <i class="fa fa-lg fa-pencil fa-spc"></i> EDITAR
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-lg fa-times fa-spc"></i> CANCELAR
        </button>
    </div>
</form>    

  