<form name="centroCustoForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="bootbox-body">
            <ul class="list-unstyled">
                <li class="list-group-item">
                    <div class="row form-horizontal">
                        <input type="hidden" name="idCentroCusto" ng-model="centroCusto.idCentroCusto"/>
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8" ng-hide="isGroup">
                            <label class="small">Grupo</label>
                            <div class="input-group">                                  
                                <span class="input-group-addon" ><i class="fa fa-info"></i></span>
                                <select class="form-control" name="grupo" 
                                        ng-options="grupo.descricao for grupo in gruposList track by grupo.idCentroCusto" ng-model="centroCusto.grupo"></select>
                            </div>
                        </div> 
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <label class="small">Código</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <input type="number" autocomplete="off" name="codigo" class="form-control" ng-model="centroCusto.codigo" 
                                       ng-required="true" placeholder="Código do centro de custo"/>                                    
                            </div>
                        </div>   
                        <div ng-class="{'col-xs-12 col-sm-6 col-md-12 col-lg-12' : !isGroup,
                                        'col-xs-12 col-sm-6 col-md-8 col-lg-8' : isGroup}">
                            <label class="small">Nome</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <input type="text" autocomplete="off" name="nome" class="form-control" ng-model="centroCusto.nome" 
                                       ng-required="true" placeholder="Nome do centro de custo"/>                                    
                            </div>
                        </div>
                    </div>
                </li>
            </ul>     
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-lg fa-times fa-spc"></i> CANCELAR
        </button>
        <button type="button" class="btn btn-success" ng-click="ok(this.centroCustoForm)">
            <i class="fa fa-lg fa-save fa-spc"></i> SALVAR
        </button>
    </div>
</form>    

  