<form name="conteCorrenteForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Visualizar Conta Corrente</h4>
    </div>
    <div class="modal-body">
        <div class="bootbox-body">
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Nome:</label>
                </div>
                <div class="col-md-8">{{conteCorrente.nome}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Banco:</label>
                </div>
                <div class="col-md-8">{{conteCorrente.banco}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Agência:</label>
                </div>
                <div class="col-md-8">{{conteCorrente.agencia}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Conta Corrente:</label>
                </div>
                <div class="col-md-8">{{conteCorrente.contaCorrente}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Carteira:</label>
                </div>
                <div class="col-md-8">{{conteCorrente.carteira}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <label>Poupança:</label>
                </div>
                <div class="col-md-8">{{(conteCorrente.poupanca ? 'Sim' : 'Não')}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="editar()">
            <i class="fa fa-lg fa-pencil fa-spc"></i> EDITAR
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-lg fa-times fa-spc"></i> CANCELAR
        </button>
    </div>
</form>    

  