<form name="veiculoSinistroForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="bootbox-body">
            <ul class="list-unstyled">
                <li class="list-group-item">
                    <div class="row form-horizontal">
                        <input type="hidden" name="idVeiculoSinistro" ng-model="veiculoSinistro.idVeiculoSinistro"/>                        
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                            <label class="small">Veículo</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-car"></i></span>
                                <select class="form-control" name="veiculo" 
                                        ng-options="veiculo.descricao for veiculo in veiculos track by veiculo.idVeiculo" ng-model="veiculoSinistro.veiculo"></select>
                            </div>
                        </div>  
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <label class="small">Número</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <input type="text" autocomplete="off" name="boletimOcorrencia" class="form-control" ng-model="veiculoSinistro.boletimOcorrencia" 
                                       ui-number-mask="0" ng-require="true" placeholder="Número BO da sinistro"/>
                            </div>
                        </div> 
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <label class="small">Data</label>
                            <div class="input-group">
                                <input type="text" autocomplete="off" name="data" class="form-control" ng-model="veiculoSinistro.data" 
                                       datepicker-popup="{{datepicker.format}}" is-open="datepicker.opened" ng-required="true"
                                       current-text="{{datepicker.today}}" clear-text="{{datepicker.clear}}" close-text="{{datepicker.close}}"
                                       placeholder="Data da sinistro"/>
                                <span class="input-group-addon" ng-click="datepicker.open($event)"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>                
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <label class="small">Tipo</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <select class="form-control" name="tipo"
                                        ng-options="tipo.descricao for tipo in tipos track by tipo.id" ng-model="veiculoSinistro.tipo"></select>
                            </div>
                        </div>               
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <label class="small">Responsável</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <select class="form-control" name="responsavel"
                                        ng-options="responsavel.descricao for responsavel in responsaveis track by responsavel.id" ng-model="veiculoSinistro.responsavel"></select>
                            </div>
                        </div>   
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <label class="small">CEP</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <input class="form-control" type="text" name="cep" ng-model="cep" ui-br-cep-mask placeholder="Pesquisar por CEP" />                                
                                <span class="input-group-addon icon-search" title="Pesquisar CEP" ng-click="pesquisarCep(cep)"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                            <label class="small">Local</label>
                            <div class="input-group">
                                <span class="input-group-addon" ><i class="fa fa-asterisk"></i></span>
                                <input class="form-control" type="text" name="local" ng-model="veiculoSinistro.local" 
                                       placeholder="Local da sinistro (endereço)" />  
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label class="small">Descrição</label>
                            <textarea class="form-control" rows="3" name="descricao" placeholder="Descrição da sinistro" ng-model="veiculoSinistro.descricao"></textarea>       
                        </div>
                    </div>
                </li>
            </ul>     
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-lg fa-times fa-spc"></i> CANCELAR
        </button>
        <button type="button" class="btn btn-success" ng-click="ok(this.veiculoSinistroForm)">
            <i class="fa fa-lg fa-save fa-spc"></i> SALVAR
        </button>
    </div>
</form>    

  