<style>
    .sortorder:after {
        content: "\f0dc";
        float: right;
        font-family: fontawesome;
        color: rgba(50,50,50,.5);
    }
    .sortorder_asc:after {
        content: "\f0de";
        float: right;
        font-family: fontawesome;
    }
    .sortorder_desc:after {
        content: "\f0dd";
        float: right;
        font-family: fontawesome;
    }
</style>
    
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                            <div class="row">
                                <div class="col-md-8">Lista com todos os bancos</div>
                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-primary pull-right" ng-click="salvar()">
                                        <i class="fa fa-lg fa-plus fa-spc"></i> ADICIONAR 
                                    </button>
                                </div>
                            </div>                              
                        </div>
                        <div class="panel-body">
                            <div class="dataTable_wrapper no-padding">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="" ng-class="{sortorder_asc:!reverse && predicate === 'numero', sortorder_desc:reverse  && predicate === 'numero', sortorder: predicate !== 'numero'}" ng-click="order('numero')">Número</th>
                                            <th class="" ng-class="{reverse:reverse}" ng-click="order('nome')">Nome</th>
                                            <th class="" ng-class="{reverse:reverse}" ng-click="order('website')">Website</th>
                                            <th class="no-sort text-center" width="100">Alterar</th>
                                            <th class="no-sort text-center" width="100">Excluir</th>
                                            <th class="no-sort text-center" width="100">Detalhes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="banco in bancosLista | limitTo : tableConfig.limitTo : getStart() | orderBy : predicate : reverse track by banco.idBanco">
                                            <td>{{banco.numero}}</td>
                                            <td>{{banco.nome}}</td>
                                            <td>{{banco.website}}</td>
                                            <td align="center">
                                                <button class="btn btn-sm btn-warning" ng-click="editar(banco.idBanco)">
                                                    <i class="fa fa-lg fa-pencil"></i>
                                                </button>
                                            </td>
                                            <td align="center">
                                                <a class="btn btn-sm btn-danger" ng-click="excluir(banco.idBanco)">
                                                    <i class="fa fa-lg fa-trash"></i>
                                                </a>
                                            </td>
                                            <td align="center">
                                                <a class="btn btn-sm btn-primary" ng-click="visualizar(banco.idBanco)">
                                                    <i class="fa fa-lg fa-info"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="pull-left">
                                Mostrando de {{getStart()}} até {{getFinish()}} de {{bancosLista.length}} registros
                            </div>
                            <div class="pull-right">
                                <pagination total-items="bancosLista.length" ng-model="tableConfig.currentPage" max-size="tableConfig.maxSize" class="pagination-sm" boundary-links="true"></pagination>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>