<div id="page-content-wrapper">
    <div class="container-fluid">
        <div id="page-wrapper">
            
            <div class="row" ng-if="showChartReceitaDespesa">   
                <div class="col-lg-12">   
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-8">Receitas X Despesas</div>
                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-default pull-right" ui-sref="app.financeiro.home">
                                        <i class="fa fa-lg fa-arrow-circle-left fa-spc"></i> VOLTAR 
                                    </button>
                                </div>
                            </div>                      
                        </div>
                        <div class="panel-body panel-chart-full">
                            <highchart id="chartReceitaDespesa" config="configChartReceitaDespesa[0]"></highchart>
                        </div>
                    </div>
                </div>
            </div>
            
            <div ng-if="showChartDespesa">
                <div class="col-lg-4" ng-repeat="mes in mesesDespesa track by $index">    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-8">Despesas {{mes.abreviacao}} / {{mes.ano}}</div>
                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-default pull-right" ui-sref="app.financeiro.home">
                                        <i class="fa fa-lg fa-arrow-circle-left"></i>  
                                    </button>
                                </div>
                            </div>                   
                        </div>
                        <div class="panel-body panel-chart">
                            <highchart id="chartDespesa{{mes.id}}" config="configChartDespesa[mes.order]"></highchart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>