<div id="page-content-wrapper">
    <div class="container-fluid">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                            <div class="row">
                                <div class="col-md-7">Demonstrativo Financeiro</div>
                                <div class="col-md-5 pull-right">
                                    <div class="form-inline">                                        
                                        <label>Mês:</label>
                                        <select class="form-control" ng-model="mesSelected"
                                            ng-options="mes.descricao for mes in meses track by mes.id">    
                                        </select>                                            
                                        <label>Ano:</label>
                                        <select class="form-control" ng-model="anoSelected"
                                            ng-options="ano.descricao for ano in anos track by ano.id">    
                                        </select>
                                        <button class="btn btn-sm btn-primary pull-right" ng-click="pesquisar(mesSelected, anoSelected)" style="margin-right: 10px;">
                                            <i class="fa fa-lg fa-search fa-spc"></i> PESQUISAR 
                                        </button>                                            
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="panel-body" ng-if="!estruturasLista.length">
                            <div class="panel-msg-info text-center">Não existem lançamentos para o período selecionado!</div>
                        </div>
                        <div class="panel-body panel-list" ng-if="estruturasLista.length">
                            
                            <div class="list-group margin-top">
                                <div class="list-group-item list-group-header">
                                    <div class="row">
                                        <div class="col-md-3">Plano de Conta</div>
                                        <div class="col-md-9">
                                            <div class="col-md-1 text-center" ng-repeat="periodo in periodoSelected track by $index">
                                                {{periodo.abreviacao}}<br/>{{periodo.ano}}
                                            </div>
                                        </div>
                                    </div>                
                                </div> 
                                <div class="list-group-container">
                                    <div class="list-group-item list-group-content" ng-repeat="estrutura in estruturasLista track by estrutura.idPlanoConta">
                                        <div class="row" ng-class="{'col-list-item-group': estrutura.ehGrupo}">
                                            <div class="col-md-3">
                                                <span class="item-list col-ident-{{estrutura.nivel}}">{{estrutura.descricao}}</span>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="col-md-1" ng-repeat="saldo in estrutura.saldos track by $index">{{saldo | currency : ''}}</div>
                                            </div>
                                        </div>                
                                    </div>
                                </div>
                                <div class="list-group-item list-group-footer">
                                    <div class="row">
                                        <div class="col-md-3" style="font-size: 14px">Total</div>
                                        <div class="col-md-9">
                                            <div class="col-md-1" ng-repeat="total in totais track by $index">{{total | currency : ''}}</div>
                                        </div>
                                    </div>                
                                </div>                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>