<div id="page-content-wrapper">
    <div class="container-fluid">
        <div id="page-wrapper">
            <div class="row">   
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Contas</div>    
                        <!--<div class="panel-body">-->
                            <ul class="list-group list-group-overflow">
                                <li class="list-group-item" ng-repeat="conta in contas track by conta.idConta">
                                    <strong>{{conta.nome}}</strong> </br>
                                    <span>Saldo <i class="pull-right" ng-class="{'text-danger': conta.saldo < 0}">
                                            {{conta.saldo | currency : 'R$ '}}</i></span>
                                </li>
                            </ul>  
                        <!--</div>-->
                        <div class="panel-footer">
                            <strong>Total</strong>
                            <i class="pull-right">{{saldoTotal | currency : 'R$ '}}</i>
                        </div>                       
                    </div>
                </div>                
                <div class="col-lg-9">
                    <div class="row">  
                        <div class="col-lg-6">    
                            <div class="panel panel-default">
                                <div class="panel-heading">Receitas X Despesas &nbsp;
                                    <a href="#" ui-sref="app.financeiro.chart({tipo: 'receitadespesa'})" title="Ver todos os meses de {{anoAtual}}"><i class="fa fa-external-link"></i></a>
                                </div>
                                <div class="panel-body panel-chart">
                                    <highchart id="chartReceitaDespesa" config="configChartReceitaDespesa[0]"></highchart>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">    
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-7">Despesas do Mês &nbsp;
                                            <a href="#" ui-sref="app.financeiro.chart({tipo: 'despesa'})" title="Ver todos os meses de {{anoAtual}}"><i class="fa fa-external-link"></i></a>
                                        </div>
                                        <div class="col-md-5">
                                            <select class="form-control" ng-model="mesDespesaSelected" ng-change="changeMesDespesas(mesDespesaSelected)"
                                                ng-options="(mes.abreviacao + ' / ' + mes.ano) for mes in mesesDespesa track by mes.id">    
                                            </select>               
                                        </div>
                                    </div>                  
                                </div>
                                <div class="panel-body panel-chart">
                                    <highchart id="chartDespesa" config="configChartDespesa[mesDespesaSelected.order]"></highchart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="row">                 
                <div class="col-lg-12">    
                    <div class="panel panel-default">
                        <div class="panel-heading">Previsão de saldo total para os próximos 90 dias</div>
                        <div class="panel-body panel-chart">
                            <highchart id="chartSaldos" config="configChartSaldos[0]"></highchart>
                        </div>
                    </div>
                </div>                
            </div>            
            <div class="row">    
                <div class="col-lg-12">    
                    <div class="panel panel-default">
                        <div class="panel-heading">Programação</div>
                        <div class="panel-body">
                            <div class="panel-heading">Vencidos</div>
                            <div class="panel-heading">Para Hoje</div>
                            <div class="panel-heading">Próximos 7 Dias</div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div> 
</div>