<div id="page-content-wrapper">
    <div class="container-fluid">
        <div id="page-wrapper">
            <div class="row">                
                
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Contas</div>                        
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="conta in contas track by conta.idConta">
                                <strong>{{conta.nome}}</strong> </br>
                                <span>Saldo <i class="pull-right">{{conta.saldo | currency : 'R$ '}}</i></span>
                            </li>
                        </ul>                        
                    </div>
                </div>
                
                <div class="col-lg-9">
                    <div class="row">  
                        <div class="col-lg-6">    
                            <div class="panel panel-default">
                                <div class="panel-heading">Receitas X Despesas</div>
                                <div class="panel-body panel-chart">
                                    <highchart id="chartReceitaDespesa" config="configChartReceitaDespesa"></highchart>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">    
                            <div class="panel panel-default">
                                <div class="panel-heading">Despesas do Mês Atual</div>
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">  
                        <div class="col-lg-12">    
                            <div class="panel panel-default">
                                <div class="panel-heading">Previsão de saldo total para os próximos 90 dias</div>
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">                
                
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Saldo</div>
                        <div class="panel-body">
                            
                        </div>
                    </div>
                </div>              
                
                <div class="col-lg-9">
                    <div class="row">  
                        <div class="col-lg-12">    
                            <div class="panel panel-default">
                                <div class="panel-heading">Programação</div>
                                <div class="panel-body">
                                    <div class="panel-heading">Vencidos</div>
                                    <div class="panel-heading">Para Hoje</div>
                                    <div class="panel-heading">Próximos 7 Dias</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div> 
</div>