<form name="colaboradorForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Visualizar Colaborador</h4>
    </div>
    <div class="modal-body">
        <div class="bootbox-body">       
                        
            <ul class="nav nav-tabs" role="tablist">
                <li role="colaborador" class="active">
                    <a href="#geral" aria-controls="geral" role="tab" data-toggle="tab">Geral</a>
                </li>
                <li role="colaborador">
                    <a href="#endereco" aria-controls="endereco" role="tab" data-toggle="tab">Endereço</a>
                </li>
                <li role="colaborador">
                    <a href="#profissional" aria-controls="profissional" role="tab" data-toggle="tab">Informações Profissionais</a>
                </li>
                <li role="colaborador">
                    <a href="#bancaria" aria-controls="bancaria" role="tab" data-toggle="tab">Informações Bancárias</a>
                </li>
            </ul>                        
                        
            <div class="tab-content" style="padding-top: 20px;">
                <div role="tabpanel" class="tab-pane active" id="geral">            
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Nome:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.nome}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Situação:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.status.descricao}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>CPF:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.cpf}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>RG:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.rg}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Sexo:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.sexo.descricao}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Data Nascimento:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.dataNascimento | date: 'dd/MM/yyyy'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Telefone:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.telefone | telefone}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Celular:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.celular | telefone}}</div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Email:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.email}}</div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Cônjuge:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.conjuge}}</div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Estado Civil:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.estadoCivil.descricao}}</div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Naturalidade:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.naturalidade}}</div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Nacionalidade:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.nacionalidade}}</div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Dependentes:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.dependentes}}</div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Nome Pai:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.nomePai}}</div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Nome Mãe:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.nomeMae}}</div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Observação:</label>
                        </div>
                        <div class="col-md-8 angular-with-newlines">{{colaborador.observacao}}</div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="endereco">
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Logradouro:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.endereco.logradouro}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>CEP:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.endereco.cep}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Complemento:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.endereco.complemento}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Número:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.endereco.numero}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Bairo:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.endereco.bairro}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Cidade:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.endereco.cidade}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Estado:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.endereco.estado}}</div>
                    </div>         
                </div>
                <div role="tabpanel" class="tab-pane" id="profissional">
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Cargo / Função:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoProfissional.cargoFuncao}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Salário:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoProfissional.salario}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Admissão:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoProfissional.dataAdmissao | date: 'dd/MM/yyyy'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Demissão:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoProfissional.dataDemissao | date: 'dd/MM/yyyy'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>PIS / PASEP:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoProfissional.pisPasep}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Título Eleitoral:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoProfissional.tituloEleitoral}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Cert. Reservista:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoProfissional.certificadoReservista}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>N. CTPS:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoProfissional.ctps}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Horário Entrada:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoProfissional.horarioEntrada | date: 'hh:mm'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Horário Saída:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoProfissional.horarioSaida | date: 'hh:mm'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Intervalo Início:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoProfissional.intervaloDe | date: 'hh:mm'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Intervalo Fim:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoProfissional.intervaloAte | date: 'hh:mm'}}</div>
                    </div> 
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Observação:</label>
                        </div>
                        <div class="col-md-8 angular-with-newlines">{{colaborador.informacaoProfissional.observacao}}</div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="bancaria">
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Tipo Conta:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoBancaria.tipoConta.descricao}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Banco:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoBancaria.banco}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Agência:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoBancaria.agencia}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <label>Conta Corrente:</label>
                        </div>
                        <div class="col-md-8">{{colaborador.informacaoBancaria.contaCorrente}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="editar()">
            <i class="fa fa-lg fa-pencil fa-spc"></i> EDITAR
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">
            <i class="fa fa-lg fa-times fa-spc"></i> CANCELAR
        </button>
    </div>
</form>    

  